/* Your custom css code goes here */


.brname {
    font-family: 'Liu Jian Mao Cao', cursive;
}

.marginDiv {
    margin-left: -150px !important;
    margin-right: -10px  !important;
}

.presshead {
    color: red;
}

/* test calendar */

*,:active{
    outline: none;

}
*{
    padding: 0px;
    margin: 0px;
}


/*a{
    text-decoration: none;
    color: #FF462B;
}


/* placeholder color */
::-webkit-input-placeholder {color: #ffffff; }
:-moz-placeholder {color: #ffffff; }
::-moz-placeholder {color: #ffffff; }
:-ms-input-placeholder {color: #ffffff; }


.fullwidth {
    height: 400px;
}

.pswp__caption__cente{
    color: red !important;
}


.i {
   font-style: italic;
}

.navred {
  background: linear-gradient(45deg, #fff9d1, #b9edff);
    background-image: linear-gradient(45deg, rgb(255, 249, 209), rgb(185, 237, 255));
    height: 150px;
    text-align: center;
}

section {

}

.homepageSpace {
    padding-top:!important 0;
}

.navbold {
    font-weight: 500;
}

ul {

}

.nopadding {
    margin-bottom:0px!important;
}

.marleft {
    margin-left: 50px;
}

.responsive-iframe-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}

.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
position: absolute;
top: 0;
left:0;
width:100%;
height:100%;
}

.slider-bottom {
  margin-bottom: 20px;
}


.noMargin {
    margin-left: 0;
}
@media screen and (max-width: 768px) {
  .noMargin {
   margin-left: 10px;
  }
}

@media screen and (max-width: 480px) {
  .noMargin {
   margin-left: 10px;
  }
}

.google-maps {
    position: relative;
        padding-bottom: 55%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


.two-word .probootstrap-side-menu li {
width: 200px;
}

li.flip{
 color: blue;
}

.white {
    color: aliceblue;

}

.teacherPic {
    border-radius: 50%;
    max-width: 80%;
    height: auto;
}

.margin10 {
    margin-top: 50px;
}

.center {
    text-align: end;
}
img.arrow{
   cursor: pointer;
    margin-right:0px;
    margin-top: 15px;
    padding-left: 0px;
    float:left;
    width: 10px;


}

.expandableCollapsibleDiv ul {
    clear: both;
    list-style: outside none none;
    margin: 0;
    padding-bottom: 10px;
    display: none;
    padding-top: 5px;
}

#probootstrap-sidebar {
    display: block;

}

.expandableCollapsibleDiv {
    box-sizing: border-box;

}

.arrow-news {

}

.menu-icon {
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    display: none;
}
@media(max-width:580px){
    .menu-icon{
        padding-left: 280px;
    }
}
@media(max-width:580px) {
    div.menu {
        max-height:500px;
    }
    .showing{
    max-height:100px;
         display: block;
}
    ul.probootstrap-side-menu li{
        box-sizing: border-box;
        width:100%;
        text-align: center;
    }

    .hide {
        max-height: 20em;
        display: none
    }
    .probootstrap-sidebar-inner {
      background: none !important;
        padding-top: 50px !important;
        margin-bottom: 0!important;

    }
    .menu-icon{
        display: block;
    }
}


.sponsor {
    width: 300px;
    height: 200px;
   margin-top: 10px;
    max-width: 100%;
    height: auto;
}
}



    .section-img2 {
    background-image: url(/img/section-bk-img1.jpg)!important;
}

@media(max-width:580px){
    .section-img2{
        background-image: url(/img/section-bk-img1-small.jpg)!important;
    }
}


.section-img2 {
    background-image: url(/img/section-bk-img1.jpg)!important;
}

.section-img3 {
    background-image: url(/img/section-bk-img2.jpg)!important;
}
@media(max-width:580px){
    .section-img3{
        background-image: url(/img/section-bk-img2-small.jpg)!important;
    }
}

h2.middle-section-heading {
    padding-top: 60px;
    color: red;!important;
    background: rgba(76, 175, 80, 0.1);

}

.section-img4 {
    background-image: url(/img/section-bk-img3.png)!important;

}

@media(max-width:580px){
    .section-img4{
        background-image: url(/img/section-bk-img3-small.png)!important;
    }

}

.sidebar {
    margin-top: -200px!important!;
}

/* Verison 2

homepage slider hight adjustment */

.flexslider .slides img{
    height: 420px !important;
}
.nodotHomepage {
    color: gray;
    list-style-type: none;

}

.name {
    text-align: center;
}


.smalllist {
    margin-left: 15px;
}
